*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2{
  color: #428BCA;
}
.black{
  color: black;
}

.fl{
  float: left;
}

.fr{
  float: right;
}

.margin{
  width: 80%;
  margin: auto;
}

.margin2{
  width: 90%;
  margin: auto;
}

.contenitore{
  width: 100%;
}

.blocco{
  position: relative;
  width: 100%;
  height: 500px;
}

.bg{
  background-image: url(http://cademi.it/bundles/fabcademi/img/jumbotron/guitarcouple.jpg);
  background-size: cover;
  background-position: center;
}
.bg2{
  background-image: url(http://cademi.it/bundles/fabcademi/img/jumbotron/banner-home2.jpg);
  background-size: cover;
  background-position: center;

}

.logo{
  width: 20%;
  margin-top: 20px;
}

.logo img{
  width: 100%;
}

.login{
  margin-top: 20px;
  width: 20%;
}

.login a{
  color: white;
  text-decoration: none;
  padding: 15px;
}

.testo-centrale{
  text-align: center;
  color: white;
  position: relative;
  top: 30%;
  transform: translateY(-30%);
}

.search{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
  height: 60px;
  border-radius: 5px;
  margin: auto;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.5);
}

.indirizzo{
  width: 50%;
  height: 47px;
}

.indirizzo input{
  padding: 10px;
  width: 100%;
  height: 100%;
}

.strumento{
  width: 30%;
  height: 47px;
  margin-left: 1px;
}

.strumento input{
  width: 100%;
  height: 100%;
  padding: 10px;
}

.drop{
  background-color: #EEEEEE;
  padding: 12px;
  height: 46px;
}

.botton3{
  text-align: center;
  height: 46px;
  padding: 15px;
  width: 14%;
  background-color: #428BCA;
}
.botton3 a{
  text-decoration: none;
  color: white;
}

.sponsor img{
  width: 100%;
  margin-top: 20px;
}

.container{
  text-align: center;
  position: relative;
  margin-top: 30px;

}

.testo-container{
  height: 100px;
}

.colonna{
  width: 33.333%;
}

.col-testo{
  line-height:20px;
  width: 80%;
  height: 50px;
  margin: auto;
}

.bg-color{
  background-color: #F9F9F9;
  height: 1100px;
  width: 100%;
}

.col-titolo{
  margin-top: 10px;
  height: 50px;
}

.col-img2{
  padding: 30px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: #428BCA;
  line-height: 10px;
}

.col-img2 img{
  width: 80px;
  height: 80px;
}

.HR{
  width: 50%;
  height: 80px;
  margin: auto;
  margin-top: 30px;
}

.colonna2{
  width: 50%;
}

.contenuto-finale{
  text-align: center;
  color:white;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.botton{
  margin-top: 10px;
  text-align: center;
  height: 100px;
}

.botton a{
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  padding: 11px;
  color: black;
  text-decoration: none;
  width: 200px;
  height: 50px;
}

.botton a:hover{
  color:white;
  background-color: #1A2B47;
  border: 2px solid white;
}

.numeri{
  font-size: 3em;
  width: 50px;
  height: 60px;
  color: black;
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
}

.botton .botton2{
  border-radius: 5px;
  background-color: #428BCA;
  display: inline-block;
  padding: 15px;
  color: white;
  text-decoration: none;
  width: 240px;
  height: 50px;
}

.pre-footer{
  width: 100%;
  height: 150px;
  background-color: #F8F8F8;
}

.colum-left{
  margin-top: 30px;
  text-align: left;
  width: 60%;
}
.colum-right{
  text-align: left;
  margin-top: 30px;
  width: 40%
}

.lista{
  display: block;
}
.colum-lista a{
  color: black;
  text-decoration: none;
  display: block;
}
.colum-lista{
  margin-top: 10px;
  width: 50%;
}

.footer{
  width: 100%;
  background-color: #232323;
  height: 350px;
}
.footer-colum{
  color: white;
  margin-top: 30px;
  width: 25%;
  border: 1px solid white;
}

.clear{
  clear: both;
}
